<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>PainCare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveQuizResponseInDatabase</display-name>
    <servlet-name>saveQuizResponseInDatabase</servlet-name>
    <servlet-class>saveQuizResponseInDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveQuizResponseInDatabase</servlet-name>
    <url-pattern>/saveQuizResponseInDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthPrediction</display-name>
    <servlet-name>HealthPrediction</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.HealthPrediction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthPrediction</servlet-name>
    <url-pattern>/HealthPrediction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDataForChartServlet</display-name>
    <servlet-name>GetDataForChartServlet</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.GetDataForChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataForChartServlet</servlet-name>
    <url-pattern>/GetDataForChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatServlet</display-name>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PredictionServlet</display-name>
    <servlet-name>PredictionServlet</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.PredictionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PredictionServlet</servlet-name>
    <url-pattern>/PredictionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatbotServlet</display-name>
    <servlet-name>ChatbotServlet</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.ChatbotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatbotServlet</servlet-name>
    <url-pattern>/ChatbotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatbotServlet1</display-name>
    <servlet-name>ChatbotServlet1</servlet-name>
    <servlet-class>ChatbotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatbotServlet1</servlet-name>
    <url-pattern>/ChatbotServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitPainFormServlet</display-name>
    <servlet-name>SubmitPainFormServlet</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.SubmitPainFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitPainFormServlet</servlet-name>
    <url-pattern>/SubmitPainFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PredictNextPeriodServlet</display-name>
    <servlet-name>PredictNextPeriodServlet</servlet-name>
    <servlet-class>com.période.PredictNextPeriodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PredictNextPeriodServlet</servlet-name>
    <url-pattern>/PredictNextPeriodServlet</url-pattern>
  </servlet-mapping>
</web-app>